<!DOCTYPE html>
<html lang="cn" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>登录</title>

<link rel="stylesheet" type="text/css" href="../css/login.css"/>
<link rel="stylesheet" type="text/css" href="../css/normalize.css"/>
<style type="text/css">
</style>
</head>
<body>
<section class="login">
	<form action="" method="post">
		<h1 class="fb">门禁后台管理系统</h1>
		<ul class="mt30px">
			<li><input type="text" id="userId" placeholder="请输入账号"/></li>
			<li><input type="password" id="password" value="" placeholder="请输入登录密码"/></li>
			<p class="mt20px mb20px"><span class="block textCenter white border-radius5 lh50px" onclick="onLogin()">登录</span></p>
		</ul>
	</form>
</section>
</body>
<script src="../js/jquery-2.1.3.min.js"></script>
<script src="../layer/mobile/layer.js" ></script>
<script>

	//登录
	function onLogin() {
		// alert(mobile);
		var userId = $('#userId').val();
		var password = $('#password').val();

		//验证手机号和密码不能空
		if (isNull(userId)) {
			layer.open({
				content: '请输入登录账户'
				, skin: 'msg'
				, time: 2 //2秒后自动关闭
			});
			return;
		}

		// if (!isMobile(mobile)) {
		// 	layer.open({
		// 		content: '请输入正确的手机号'
		// 		, skin: 'msg'
		// 		, time: 2 //2秒后自动关闭
		// 	});
		// 	return;
		// }

		if (isNull(password)) {
			layer.open({
				content: '请输入密码'
				, skin: 'msg'
				, time: 2 //2秒后自动关闭
			});
			return;
		}

		var formDate =
				{
					userId: userId,
					password: password,
				};
		/*var data = JSON.stringify({
            "mobile": mobile,
            "password": password,
        })*/
		$.ajax({
			url: "../login/confirmLogin",
			type: "post",
			dataType: "json",
			data: formDate,
			async: false,
			beforeSend: function () {
				layer.open({
					type: 2
					, shadeClose: false
					, content: '登录中请稍后...'
				});
			},
			success: function (data) {
				if (data.code == "0000") {
					window.location.href = '../login/toIndexPage'
				} else {
					layer.closeAll();
					layer.open({
						content: '密码错误或账号不存在'
						, skin: 'msg'
						, time: 2 //2秒后自动关闭
					});
				}
			}
		});
	}

	function isMobile(mobile) {
		if (/^1\d{10}$/.test(mobile)) {
			return true;
		} else {
			return false;
		}
	}

	//输入框是否为空
	function isNull(value) {
		return value == null || value === "" || value === undefined;
	}
</script>
</body>
</html>