<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        p{
            color: #0000FF;
            font-size: 24px;
        }
        #mp{
            color: #0f0f0f;
            font-size: 11px;
        }
        /*body{*/
        /*    background-image: url("../static/img/blue.png");*/
        /*}*/

    </style>
</head>
<body>
    <div id="wai" style="width: auto;text-align: center">
        <div id="header" style="background-color: red">
            <h1  style="margin-bottom:0;">尼哥</h1>
        </div>
        <div id="menu" style="width: 200px; height: 600px;background-color: chartreuse;float: left;">
            <b>大侄子</b><br>
            <b>侄子大</b>
            <p>多大的侄子</p>
            <a href="http://www.baidu.com" target="test">百度</a>
            <a href="http://www.qq.com" target="test">qq</a>
        </div>
        <div id="content" style="float: left;">
           <!-- <p>多大的侄子</p>
            <img src="http://140.207.2.182:6038/projectImage/user/20200311110611.png" alt="没找到"
            width="100" height="100">
            <p id="mp">dadada</p>-->
            <a href="http://www.baidu.com" target="test">百度</a>
            <iframe src="../templates/index.html" frameborder="0" name="test"></iframe>
        </div>
    </div>
    <div id="footer" style="background-color: coral;height: 100px;text-align: center;clear: both">侄子你够猛吗</div>
</body>
</html>