<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.accesscontrol.manage.mapper.SysMenuMapper">
    <resultMap id="BaseResultMap" type="com.accesscontrol.manage.pojo.SysMenu">
        <id column="MENU_ID" jdbcType="VARCHAR" property="menuId"/>
        <result column="PARENT_ID" jdbcType="VARCHAR" property="parentId"/>
        <result column="TITLE" jdbcType="VARCHAR" property="title"/>
        <result column="HREF" jdbcType="VARCHAR" property="href"/>
        <result column="TYPE" jdbcType="VARCHAR" property="type"/>
        <result column="ICON" jdbcType="VARCHAR" property="icon"/>
        <result column="ORDER_NUM" jdbcType="DECIMAL" property="orderNum"/>
        <result column="PERMS" jdbcType="VARCHAR" property="perms"/>
        <result column="TARGET" jdbcType="VARCHAR" property="target"/>
        <result column="MAIN_MENU" jdbcType="VARCHAR" property="mainMenu"/>
    </resultMap>

    <resultMap id="MenuList" type="com.accesscontrol.manage.pojo.SysMenu">

    </resultMap>
    <sql id="Base_Column_List">
    MENU_ID, PARENT_ID, TITLE, HREF, "TYPE", ICON, ORDER_NUM, PERMS, TARGET, MAIN_MENU
    </sql>
    <select id="getSysMenuList" resultMap="BaseResultMap" parameterType="java.lang.String">
        select * from sys_user su join sys_role sr on su.role_id = sr.role_id
        join sys_role_menu srm on sr.role_id = srm.role_id join sys_menu sm on sm.menu_id
        =srm.menu_id where TYPE = 0
        <if test="userId!=null and userId!=''">
            and su.USER_ID = #{userId}
        </if>
        order by order_num asc
    </select>


</mapper>